.profile_section{
    clip-path: circle(100% at 50% -30%);
    border-radius: 8px 8px 0 0 ;
    overflow: hidden ;
}
.bg_filter{
    filter: blur(1px) brightness(70%);
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) hue-rotate(180deg);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    /* Change the icon color */
}
.btnApply:hover{
    background: rgb(225, 225, 225);
    color: #262044;
    border: '1px solid white';
}